@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
	/* Reference name */
	font-family: 'Montserrat';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}

html, body { @apply h-full overflow-hidden; }
